<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="/static/css/home.css" />
    <script
      src="https://kit.fontawesome.com/3a3e083a8b.js"
      crossorigin="anonymous"
    ></script>
  </head>
  <body>
    <div id="home-wave" style="overflow: hidden;" ><svg viewBox="0 0 500 150" preserveAspectRatio="none" style="height: 100%; width: 100%;"><path d="M0.00,49.99 C150.00,150.00 349.20,-49.99 500.00,49.99 L500.00,150.00 L0.00,150.00 Z" style="stroke: none; fill: #de00ff;"></path></svg></div>
    <h1>Find Thrift Stores</h1>

  <div class="web-shopping-svg">
    <svg width="848" height="656" viewBox="0 0 848 656" fill="none" xmlns="http://www.w3.org/2000/svg">
      <g id="web-shopping" clip-path="url(#clip0)">
      <path id="Vector" d="M830.693 564H393.693C389.186 563.995 384.865 562.202 381.678 559.015C378.491 555.828 376.698 551.507 376.693 547V17C376.698 12.4929 378.491 8.17181 381.678 4.98479C384.865 1.79777 389.186 0.00507387 393.693 0H830.693C835.2 0.00507387 839.521 1.79777 842.708 4.98479C845.895 8.17181 847.688 12.4929 847.693 17V547C847.688 551.507 845.895 555.828 842.708 559.015C839.521 562.202 835.2 563.995 830.693 564V564ZM393.693 2C389.716 2.0045 385.903 3.58629 383.091 6.39836C380.279 9.21043 378.697 13.0231 378.693 17V547C378.697 550.977 380.279 554.79 383.091 557.602C385.903 560.414 389.716 561.996 393.693 562H830.693C834.67 561.996 838.482 560.414 841.294 557.602C844.107 554.79 845.688 550.977 845.693 547V17C845.688 13.0231 844.107 9.21043 841.294 6.39836C838.482 3.58629 834.67 2.0045 830.693 2H393.693Z" fill="#3F3D56"/>
      <path id="Vector_2" d="M848 61H379V63H848V61Z" fill="#3F3D56"/>
      <path id="Vector_3" d="M400.693 30C405.111 30 408.693 26.4183 408.693 22C408.693 17.5817 405.111 14 400.693 14C396.275 14 392.693 17.5817 392.693 22C392.693 26.4183 396.275 30 400.693 30Z" fill="#3F3D56"/>
      <path id="Vector_4" d="M425.693 30C430.111 30 433.693 26.4183 433.693 22C433.693 17.5817 430.111 14 425.693 14C421.275 14 417.693 17.5817 417.693 22C417.693 26.4183 421.275 30 425.693 30Z" fill="#3F3D56"/>
      <path id="Vector_5" d="M450.693 30C455.111 30 458.693 26.4183 458.693 22C458.693 17.5817 455.111 14 450.693 14C446.275 14 442.693 17.5817 442.693 22C442.693 26.4183 446.275 30 450.693 30Z" fill="#3F3D56"/>
      <path id="Vector_6" d="M762.953 121H450.953C447.505 121 444.198 119.63 441.76 117.192C439.322 114.754 437.953 111.448 437.953 108C437.953 104.552 439.322 101.246 441.76 98.8076C444.198 96.3696 447.505 95 450.953 95H762.953C766.401 95 769.707 96.3696 772.145 98.8076C774.583 101.246 775.953 104.552 775.953 108C775.953 111.448 774.583 114.754 772.145 117.192C769.707 119.63 766.401 121 762.953 121V121ZM450.953 97C448.035 97 445.237 98.1589 443.175 100.222C441.112 102.285 439.953 105.083 439.953 108C439.953 110.917 441.112 113.715 443.175 115.778C445.237 117.841 448.035 119 450.953 119H762.953C765.87 119 768.668 117.841 770.731 115.778C772.794 113.715 773.953 110.917 773.953 108C773.953 105.083 772.794 102.285 770.731 100.222C768.668 98.1589 765.87 97 762.953 97H450.953Z" fill="#3F3D56"/>
      <g id="Item1">
      <path id="Vector_7" d="M567.693 304H444.693C440.186 303.995 435.865 302.202 432.678 299.015C429.491 295.828 427.698 291.507 427.693 287V186C427.698 181.493 429.491 177.172 432.678 173.985C435.865 170.798 440.186 169.005 444.693 169H567.693C572.2 169.005 576.521 170.798 579.708 173.985C582.895 177.172 584.688 181.493 584.693 186V287C584.688 291.507 582.895 295.828 579.708 299.015C576.521 302.202 572.2 303.995 567.693 304V304ZM444.693 171C440.716 171.004 436.903 172.586 434.091 175.398C431.279 178.21 429.697 182.023 429.693 186V287C429.697 290.977 431.279 294.79 434.091 297.602C436.903 300.414 440.716 301.996 444.693 302H567.693C571.67 301.996 575.482 300.414 578.294 297.602C581.107 294.79 582.688 290.977 582.693 287V186C582.688 182.023 581.107 178.21 578.294 175.398C575.482 172.586 571.67 171.004 567.693 171H444.693Z" fill="#3F3D56"/>
      </g>
      <g id="Item2">
      <path id="Vector_8" d="M779.693 174H656.693C647.856 174 640.693 181.163 640.693 190V291C640.693 299.837 647.856 307 656.693 307H779.693C788.529 307 795.693 299.837 795.693 291V190C795.693 181.163 788.529 174 779.693 174Z" fill="#F2F2F2"/>
      </g>
      <g id="Item3">
      <path id="Vector_9" d="M567.693 492H444.693C440.186 491.995 435.865 490.202 432.678 487.015C429.491 483.828 427.698 479.507 427.693 475V374C427.698 369.493 429.491 365.172 432.678 361.985C435.865 358.798 440.186 357.005 444.693 357H567.693C572.2 357.005 576.521 358.798 579.708 361.985C582.895 365.172 584.688 369.493 584.693 374V475C584.688 479.507 582.895 483.828 579.708 487.015C576.521 490.202 572.2 491.995 567.693 492ZM444.693 359C440.716 359.004 436.903 360.586 434.091 363.398C431.279 366.21 429.697 370.023 429.693 374V475C429.697 478.977 431.279 482.79 434.091 485.602C436.903 488.414 440.716 489.996 444.693 490H567.693C571.67 489.996 575.482 488.414 578.294 485.602C581.107 482.79 582.688 478.977 582.693 475V374C582.688 370.023 581.107 366.21 578.294 363.398C575.482 360.586 571.67 359.004 567.693 359H444.693Z" fill="#3F3D56"/>
      </g>
      <g id="Item4">
      <path id="Vector_10" d="M779.693 362H656.693C647.856 362 640.693 369.163 640.693 378V479C640.693 487.837 647.856 495 656.693 495H779.693C788.529 495 795.693 487.837 795.693 479V378C795.693 369.163 788.529 362 779.693 362Z" fill="#F2F2F2"/>
      </g>
      <path id="Vector_11" d="M475.585 279.573C475.563 279.573 475.54 279.572 475.518 279.571L461.528 279.053C461.092 279.04 460.675 278.869 460.355 278.573C460.034 278.277 459.832 277.874 459.785 277.44C458.822 268.849 454.86 225.069 471.46 206.873C473.81 204.246 476.715 202.174 479.964 200.809C483.214 199.444 486.727 198.82 490.248 198.981C490.391 198.99 490.534 198.96 490.661 198.893C490.788 198.827 490.895 198.727 490.969 198.605L494.356 193.283C494.541 192.994 494.804 192.764 495.114 192.617C495.423 192.47 495.768 192.413 496.109 192.452C498.824 192.78 512.665 194.329 518.485 192.644C518.828 192.542 519.194 192.544 519.536 192.65C519.878 192.755 520.181 192.959 520.408 193.235L524.856 198.671C524.932 198.769 525.031 198.848 525.144 198.9C525.257 198.952 525.381 198.977 525.505 198.972C527.767 198.926 535.699 199.364 542.64 207.128C550.157 215.536 557.914 234.504 552.184 277.124C552.124 277.562 551.908 277.964 551.575 278.255C551.243 278.546 550.816 278.707 550.374 278.709H539.356C538.919 278.707 538.496 278.549 538.166 278.262C537.835 277.976 537.617 277.581 537.553 277.148L533.953 252.312C533.924 252.108 533.818 251.923 533.658 251.793C533.498 251.662 533.295 251.597 533.089 251.61C532.883 251.622 532.69 251.712 532.547 251.861C532.404 252.01 532.322 252.207 532.318 252.413L532.07 264.074C532.062 264.42 531.956 264.756 531.764 265.044C531.573 265.332 531.303 265.56 530.987 265.701C527.059 267.428 506.304 275.528 483.365 265.383C483.054 265.243 482.789 265.021 482.598 264.739C482.406 264.458 482.297 264.129 482.282 263.789L481.831 253.194C481.822 252.987 481.735 252.792 481.589 252.646C481.442 252.5 481.245 252.415 481.038 252.408C480.831 252.4 480.629 252.472 480.472 252.607C480.316 252.742 480.216 252.931 480.192 253.137L477.396 277.955C477.344 278.399 477.131 278.809 476.797 279.107C476.464 279.405 476.032 279.571 475.585 279.573V279.573Z" fill="#6C63FF"/>
      <path id="Vector_12" d="M533.459 462.539H533.448L478.627 462.192C478.228 462.189 477.845 462.041 477.547 461.775C477.25 461.509 477.061 461.144 477.013 460.748L471.499 413.875C471.465 413.572 471.324 413.292 471.1 413.086C470.876 412.88 470.585 412.762 470.281 412.753C465.929 412.611 455.575 411.619 453.429 405.49C451.518 400.031 456.745 391.98 468.964 381.559C469.172 381.381 469.421 381.258 469.689 381.201C469.956 381.144 470.234 381.155 470.496 381.234C470.758 381.312 470.996 381.454 471.189 381.648C471.382 381.842 471.523 382.082 471.6 382.344L477.943 404.229C478.021 404.492 478.18 404.723 478.398 404.888C478.617 405.053 478.882 405.144 479.156 405.147L531.135 405.496C531.407 405.499 531.673 405.414 531.893 405.253C532.113 405.093 532.276 404.865 532.357 404.605L539.415 382.147C539.493 381.897 539.631 381.668 539.816 381.482C540.002 381.296 540.229 381.158 540.48 381.078C540.73 380.999 540.996 380.981 541.255 381.026C541.513 381.071 541.757 381.178 541.966 381.337C546.782 385.016 562.298 397.644 559.744 405.721C558.407 409.951 552.374 412.309 541.814 412.73C541.511 412.74 541.221 412.859 540.998 413.065C540.776 413.271 540.634 413.55 540.6 413.852L535.083 461.093C535.037 461.492 534.846 461.859 534.546 462.126C534.247 462.392 533.86 462.539 533.459 462.539V462.539Z" fill="#6C63FF"/>
      <path id="Vector_13" d="M773.693 265.153C756.466 268.47 740.221 275.665 726.188 286.192C725.478 284.303 724.14 282.715 722.4 281.694C721.211 280.957 719.914 280.411 718.556 280.078C717.32 279.763 716.133 280.515 715.042 281.597C713.788 282.985 712.736 284.543 711.917 286.225C693.091 273.302 664.533 265.056 664.533 265.056V262.472C664.556 261.863 664.618 261.256 664.719 260.655C664.816 259.96 664.937 259.346 665.09 258.595C667.513 246.271 677.092 218.109 677.092 218.109H687.922L708.92 222.47L732.544 221.024L756.337 216.073L759.422 215.427C764.567 219.465 770.406 247.733 772.7 259.766C772.99 261.293 773.216 262.553 773.386 263.482C773.588 264.531 773.693 265.153 773.693 265.153Z" fill="white"/>
      <path id="Vector_14" d="M709.069 389.219C709.069 389.219 704.039 390.476 696.237 411.608C688.435 432.739 685.671 460.041 685.671 460.041C685.671 460.041 681.284 467.47 700.01 467.967C700.01 467.967 698.503 472.874 709.069 472.121C719.635 471.367 718.114 471.375 718.114 471.375C718.114 471.375 724.907 467.097 727.926 467.85C730.946 468.604 732.833 468.859 736.101 471.623C739.369 474.387 749.818 473.261 749.942 471.126C750.026 470.077 750.026 469.024 749.942 467.975C749.942 467.975 765.919 468.984 762.899 457.409C759.879 445.834 757.364 426.838 757.364 426.838C757.364 426.838 749.189 389.731 739.874 389.226C730.559 388.722 709.069 389.219 709.069 389.219Z" fill="white"/>
      <g id="Girl-body">
      <g id="right-hand">
      <path id="Vector_15" d="M288.699 403.797C288.309 404.19 287.95 404.612 287.626 405.061L238.064 403.31L232.395 392.679L215.233 399.137L223.439 418.933C224.102 420.532 225.266 421.873 226.756 422.754C228.246 423.636 229.982 424.01 231.703 423.821L287.787 417.663C289.09 419.35 290.876 420.6 292.907 421.248C294.938 421.895 297.118 421.909 299.157 421.287C301.196 420.665 302.997 419.437 304.321 417.766C305.645 416.096 306.429 414.062 306.569 411.935C306.709 409.808 306.198 407.688 305.104 405.859C304.01 404.029 302.385 402.576 300.445 401.693C298.505 400.81 296.342 400.538 294.244 400.914C292.145 401.29 290.211 402.295 288.699 403.797Z" fill="#FFB8B8"/>
      </g>
      <path id="Vector_16" d="M208.631 408.696C208 408.412 207.437 407.996 206.981 407.476C206.525 406.955 206.186 406.342 205.989 405.678L199.085 382.509C197.586 379.301 197.421 375.629 198.625 372.298C199.829 368.968 202.305 366.251 205.509 364.743C208.714 363.235 212.386 363.059 215.719 364.254C219.053 365.449 221.777 367.917 223.294 371.118L236.666 391.352C237.048 391.93 237.3 392.583 237.407 393.267C237.513 393.951 237.471 394.65 237.283 395.316C237.095 395.982 236.766 396.6 236.317 397.127C235.869 397.655 235.313 398.079 234.685 398.372L212.643 408.666C212.016 408.959 211.332 409.114 210.64 409.119C209.948 409.124 209.263 408.98 208.631 408.696V408.696Z" fill="#CCCCCC"/>
      <g id="right-foot">
      <path id="Vector_17" d="M257.446 643.927L268.214 638.065L250.729 593.743L234.837 602.394L257.446 643.927Z" fill="#FFB8B8"/>
      </g>
      <g id="right-shoe">
      <path id="Vector_18" d="M252.786 641.906L273.992 630.363L273.992 630.362C275.767 629.396 277.715 628.789 279.724 628.576C281.733 628.362 283.765 628.547 285.703 629.119C287.641 629.691 289.447 630.639 291.019 631.908C292.59 633.178 293.896 634.745 294.862 636.52L295.101 636.959L260.382 655.86L252.786 641.906Z" fill="#2F2E41"/>
      </g>
      <path id="left-foot" d="M138.959 643.975H151.218L157.051 596.687L138.956 596.688L138.959 643.975Z" fill="#FFB8B8"/>
      <path id="left-shoe" d="M135.831 639.973L159.975 639.972H159.976C161.997 639.972 163.998 640.37 165.864 641.143C167.731 641.916 169.427 643.049 170.856 644.478C172.285 645.907 173.418 647.603 174.191 649.47C174.965 651.337 175.363 653.337 175.363 655.358V655.858L135.832 655.859L135.831 639.973Z" fill="#2F2E41"/>
      <path id="legs" d="M215.14 434.096L219.14 482.096L263.759 615.952C263.934 616.478 263.998 617.035 263.947 617.588C263.895 618.14 263.729 618.676 263.46 619.161C263.19 619.646 262.822 620.07 262.38 620.405C261.938 620.74 261.43 620.979 260.891 621.108L247.216 624.364C246.34 624.572 245.42 624.479 244.603 624.1C243.787 623.721 243.122 623.077 242.717 622.273L185.673 509.12C185.487 508.752 185.192 508.449 184.827 508.255C184.463 508.061 184.047 507.985 183.637 508.036C183.227 508.088 182.844 508.265 182.539 508.544C182.234 508.822 182.022 509.189 181.934 509.592L156.83 623.954C156.635 624.844 156.141 625.641 155.43 626.213C154.72 626.784 153.835 627.096 152.923 627.096H140.201C139.671 627.097 139.147 626.992 138.658 626.787C138.169 626.583 137.726 626.284 137.354 625.906C136.982 625.529 136.688 625.081 136.491 624.59C136.294 624.098 136.197 623.572 136.205 623.042C137.37 543.745 133.525 453.388 164.14 439.096L169.14 426.096L215.14 434.096Z" fill="#2F2E41"/>
      <path id="Vector_19" d="M167.7 429.5L162.545 398.322C161.691 393.21 162.139 387.964 163.846 383.07C165.553 378.175 168.465 373.79 172.313 370.317C176.075 366.877 180.642 364.44 185.593 363.23C190.544 362.019 195.721 362.075 200.645 363.392C200.937 363.47 201.229 363.551 201.522 363.633C207.581 365.368 212.961 368.92 216.936 373.811C220.911 378.701 223.29 384.693 223.75 390.979C224.734 404.519 223.853 424.162 214.072 440.849L213.882 441.173L167.7 429.5Z" fill="#CCCCCC"/>
      <g id="Girl-head">
      <path id="Vector_20" d="M192.64 353.596C209.209 353.596 222.64 340.165 222.64 323.596C222.64 307.027 209.209 293.596 192.64 293.596C176.072 293.596 162.64 307.027 162.64 323.596C162.64 340.165 176.072 353.596 192.64 353.596Z" fill="#2F2E41"/>
      <path id="Vector_21" d="M195.16 353.653C208.725 353.653 219.721 342.657 219.721 329.092C219.721 315.527 208.725 304.531 195.16 304.531C181.595 304.531 170.599 315.527 170.599 329.092C170.599 342.657 181.595 353.653 195.16 353.653Z" fill="#FFB8B8"/>
      <path id="Vector_22" d="M219.593 316.038C213.981 319.907 207.319 321.965 200.502 321.938C202.934 323.624 205.702 324.763 208.616 325.276C199.553 327.22 190.186 327.273 181.102 325.431C179.083 325.107 177.134 324.438 175.342 323.452C174.449 322.954 173.671 322.273 173.059 321.453C172.446 320.634 172.013 319.695 171.787 318.698C171.184 315.249 173.871 312.116 176.663 310.005C180.939 306.821 185.868 304.628 191.096 303.583C196.323 302.539 201.717 302.669 206.888 303.965C210.264 304.838 213.646 306.312 215.839 309.024C218.032 311.735 218.682 315.915 216.592 318.707L219.593 316.038Z" fill="#2F2E41"/>
      <path id="hair" d="M192.245 293.448C195.092 281.952 184.888 269.18 173.048 269.419C161.034 269.662 152.194 280.518 146.117 290.884C140.04 301.249 134 313 122.844 317.463C119.152 318.94 115.151 319.477 111.201 319.027C107.25 318.578 103.473 317.154 100.207 314.885C96.942 312.616 94.2909 309.572 92.4915 306.027C90.6922 302.481 89.801 298.544 89.8977 294.569C88.3998 307.162 90.475 320.788 98.5965 330.528C106.718 340.269 121.83 344.659 132.692 338.113C138.895 334.374 142.861 327.875 146.13 321.412C149.399 314.949 152.307 308.133 157.261 302.848C162.214 297.564 169.873 294.056 176.766 296.28C179.503 297.162 181.958 298.883 184.785 299.406C187.612 299.929 191.171 298.586 191.557 295.737L192.245 293.448Z" fill="#2F2E41"/>
      </g>
      <g id="left-hand">
      <path id="Vector_23" d="M133.049 501.891C132.029 500.696 131.284 499.292 130.866 497.778C130.448 496.265 130.367 494.677 130.628 493.129C130.889 491.58 131.487 490.108 132.379 488.815C133.272 487.523 134.436 486.442 135.791 485.648L157.097 390.151L178.709 399.021L150.971 490.103C152.153 492.468 152.427 495.184 151.741 497.737C151.054 500.291 149.455 502.504 147.246 503.957C145.036 505.41 142.371 506.002 139.755 505.621C137.138 505.24 134.752 503.913 133.049 501.891H133.049Z" fill="#FFB8B8"/>
      </g>
      <path id="Vector_24" d="M148.655 403.85C148.315 403.248 148.109 402.579 148.051 401.889C147.993 401.199 148.084 400.505 148.319 399.854L156.512 377.108C157.209 373.636 159.255 370.582 162.2 368.616C165.146 366.65 168.751 365.932 172.225 366.62C175.7 367.308 178.759 369.345 180.733 372.286C182.708 375.226 183.435 378.829 182.757 382.305L181.512 406.527C181.476 407.219 181.292 407.894 180.972 408.508C180.652 409.122 180.203 409.659 179.657 410.084C179.11 410.508 178.478 410.81 177.805 410.969C177.131 411.127 176.431 411.139 175.752 411.002L151.902 406.207C151.223 406.071 150.581 405.79 150.021 405.383C149.461 404.976 148.995 404.454 148.655 403.85Z" fill="#CCCCCC"/>
       <g id=full-phone>
      <path id="phone" d="M323.215 393.14L322.86 393.092L324.196 383.369C324.402 381.876 324.006 380.364 323.095 379.163C322.185 377.963 320.835 377.173 319.343 376.968L298.743 374.136C297.251 373.931 295.738 374.327 294.537 375.238C293.337 376.148 292.547 377.498 292.342 378.99L285.01 432.331C284.804 433.823 285.201 435.336 286.111 436.536C287.021 437.737 288.371 438.526 289.863 438.732L310.463 441.563C311.956 441.768 313.468 441.372 314.669 440.462C315.869 439.552 316.659 438.202 316.864 436.709L321.909 400.012L322.263 400.061L323.215 393.14Z" fill="#3F3D56"/>
      <path id="phone1" d="M318.695 379.82L316.131 379.468C316.209 379.773 316.211 380.093 316.136 380.399C316.061 380.706 315.913 380.989 315.703 381.224C315.493 381.46 315.228 381.64 314.933 381.749C314.637 381.858 314.319 381.892 314.006 381.849L302.75 380.302C302.438 380.259 302.141 380.14 301.885 379.955C301.63 379.77 301.424 379.525 301.285 379.242C301.147 378.959 301.08 378.646 301.091 378.331C301.101 378.016 301.19 377.709 301.347 377.436L298.952 377.106C298.425 377.034 297.89 377.066 297.376 377.201C296.862 377.335 296.379 377.57 295.956 377.891C295.533 378.212 295.177 378.613 294.908 379.072C294.64 379.53 294.465 380.038 294.392 380.564L287.408 431.368C287.336 431.895 287.368 432.43 287.503 432.944C287.637 433.458 287.872 433.941 288.193 434.364C288.514 434.787 288.915 435.143 289.374 435.412C289.833 435.68 290.34 435.855 290.866 435.928L310.609 438.642C311.672 438.788 312.75 438.506 313.605 437.857C314.46 437.209 315.023 436.247 315.169 435.184L322.153 384.38C322.299 383.317 322.017 382.239 321.368 381.384C320.72 380.529 319.758 379.967 318.695 379.82Z" fill="white"/>
      
      <path id="Vector_25" d="M304.693 422C310.768 422 315.693 417.075 315.693 411C315.693 404.925 310.768 400 304.693 400C298.618 400 293.693 404.925 293.693 411C293.693 417.075 298.618 422 304.693 422Z" fill="#6C63FF"/>
      <path id="Vector_26" d="M303.603 415.196C303.355 415.197 303.114 415.117 302.916 414.968L302.904 414.959L300.319 412.98C300.199 412.888 300.098 412.774 300.022 412.643C299.946 412.513 299.896 412.368 299.876 412.218C299.856 412.069 299.866 411.916 299.905 411.77C299.944 411.624 300.011 411.487 300.103 411.367C300.195 411.248 300.309 411.147 300.44 411.071C300.571 410.996 300.716 410.947 300.865 410.927C301.015 410.908 301.168 410.918 301.313 410.957C301.459 410.996 301.596 411.064 301.716 411.156L303.39 412.44L307.347 407.28C307.439 407.16 307.553 407.06 307.684 406.984C307.814 406.909 307.959 406.86 308.108 406.84C308.258 406.82 308.41 406.83 308.555 406.869C308.701 406.908 308.838 406.976 308.957 407.067L308.933 407.101L308.958 407.068C309.199 407.253 309.357 407.527 309.397 407.829C309.437 408.131 309.356 408.436 309.171 408.678L304.516 414.748C304.409 414.888 304.27 415.001 304.112 415.079C303.953 415.157 303.779 415.197 303.603 415.196Z" fill="white"/>
      </g>
      <path id="line" d="M406.075 656H25.0748C24.8096 656 24.5552 655.895 24.3677 655.707C24.1801 655.52 24.0748 655.265 24.0748 655C24.0748 654.735 24.1801 654.48 24.3677 654.293C24.5552 654.105 24.8096 654 25.0748 654H406.075C406.34 654 406.594 654.105 406.782 654.293C406.969 654.48 407.075 654.735 407.075 655C407.075 655.265 406.969 655.52 406.782 655.707C406.594 655.895 406.34 656 406.075 656Z" fill="#3F3D56"/>
      </g>
      </g>
      <defs>
      <clipPath id="clip0">
      <rect width="847.693" height="656" fill="white"/>
      </clipPath>
      </defs>
      </svg>
      
  </div>

    <!-- svg start -->
    <div>
    <svg width="1074" height="739" viewBox="0 0 1074 739" fill="none" xmlns="http://www.w3.org/2000/svg">
      <g id="undraw_successful_purchase_uyin 1" clip-path="url(#clip0)">
      <g id="girl">
      <path id="Vector" d="M718.91 182.21L682.25 75.79L669.07 77.79L657.27 79.3C657.57 75.3 658.09 60.94 650.77 53.41C650.06 50.83 648.19 47.9 644.59 44.6C627.05 28.52 623.4 61.41 623.4 61.41C623.4 61.41 619.4 68.35 613.89 78.05L611 77.5L610.18 84.66C597.98 106.23 581.77 135.42 581.77 138.16C581.77 142.55 579.58 148.39 579.58 148.39C579.58 148.39 567.16 168.85 562.77 179.09C560.214 185.131 556.474 190.599 551.77 195.17C551.77 195.17 550.71 195.98 548.97 197.17C549.081 195.234 549.416 193.318 549.97 191.46C551.57 186.23 555.29 181.75 556.28 176.37C556.512 175.08 556.599 173.769 556.54 172.46C556.77 166.15 553.7 159.94 552.42 153.63C550.93 146.32 551.73 138.27 547.83 131.92C544.83 127.07 539.51 124.05 533.98 122.66C528.9 121.39 523.9 121.84 518.78 121.3C514.08 120.8 509.59 118.72 504.89 117.95C502.379 117.404 499.781 117.404 497.27 117.95C489.32 120.14 486.83 130.16 480.69 135.67C478.48 137.67 475.77 139.05 473.77 141.24C470.86 144.43 469.85 148.88 470 153.24C469.962 154.701 470.049 156.163 470.26 157.61C471.02 162.84 473.04 167.79 474.26 172.92C475.182 176.717 475.682 180.604 475.75 184.51C475.75 185.39 475.75 186.27 475.67 187.14C475.706 188.901 475.238 190.636 474.32 192.14C473.21 193.67 471.38 194.41 469.75 195.39C464.422 191.161 460.423 185.489 458.23 179.05C458.23 179.05 457.96 179.39 457.5 180.05V179.05C457.5 179.05 447.5 164.37 445.98 152.38L449.46 152.74L457.46 40.19L437.03 37.19C436.46 31.38 434.91 22.95 430.8 16.8C434.23 10.04 435.96 0.890032 420.92 -0.0199685C403.32 -1.08997 404.4 12.62 406.27 20.12C405.422 24.2126 405.086 28.3946 405.27 32.57L387.27 29.95L387.17 31.41H382.89L369.79 146.23L380.95 145.67L421.85 149.93C425.12 179.66 430.26 216.4 436.36 225.06C436.563 225.352 436.787 225.63 437.03 225.89V278.5C437.03 278.5 436.3 346.5 423.87 357.43C431.495 354.717 439.56 353.452 447.65 353.7C447.51 354.15 447.37 354.63 447.23 355.14C445.411 361.852 444.143 368.701 443.44 375.62C443.267 377.147 443.11 378.74 442.97 380.4C441.825 395.632 442.036 410.935 443.6 426.13C448.72 480.21 456.76 518.95 456.76 518.95L459 550.39C459 550.39 456.81 603.74 462.65 621.28C464.851 623.308 467.38 624.948 470.13 626.13C470.18 626.63 470.24 627.13 470.29 627.66C470.34 628.19 470.42 629.01 470.49 629.71C467.87 630.9 462.98 635.62 461.92 654.16C461.92 654.16 463.38 668.05 459.73 674.62C456.08 681.19 458.27 700.2 469.23 702.39C476.235 703.678 483.415 703.678 490.42 702.39C490.42 702.39 495.54 702.39 491.88 684.12L491.24 679.44C491.16 670.39 491.54 660.7 493.34 657.81C496.99 651.96 491.88 646.12 491.88 646.12C491.88 646.12 491.52 646.32 490.93 646.59C489.99 641.54 488.76 633.34 489.2 627.08C489.2 626.55 489.29 626.08 489.35 625.53C491.58 624.365 493.659 622.931 495.54 621.26V551.85C495.54 551.85 494.81 445.15 502.85 442.95C502.85 442.95 506.5 481.68 505.04 500.69C503.58 519.7 507.23 540.16 507.23 540.16L508.69 617.63C508.69 617.63 510.09 618.3 512.35 619.09L512.2 620.5C511.31 629.11 509.88 642.11 508.58 650.07C507.703 650.418 506.922 650.973 506.304 651.686C505.686 652.4 505.249 653.252 505.03 654.17C502.84 661.48 504.3 679.75 499.91 684.87C497.32 687.87 494.22 693.98 495.74 698.3C494.79 702.09 495.21 708.01 506.49 708.99C523.3 710.45 530.61 701.68 530.61 701.68C530.61 701.68 532.8 698.03 530.61 691.45C528.42 684.87 531.34 673.18 531.34 673.18C531.34 673.18 532.91 663.26 530.34 661.96C530.12 660.78 529.92 660.03 529.92 660.03C529.955 657.783 529.128 655.607 527.61 653.95C527.55 646.3 527.86 632.15 530.55 622.83C530.71 622.3 530.87 621.83 531.04 621.28C533.206 620.906 535.295 620.172 537.22 619.11C537.22 619.11 536.49 602.3 541.61 590.61C546.73 578.92 543.8 532.14 543.8 532.14C543.8 532.14 541.61 519.85 544.7 509.89C548.24 498.852 550.895 487.55 552.64 476.09L556.95 445.9C556.95 445.9 568.3 409.15 553.35 371.43C552.74 369.87 552.07 368.31 551.35 366.75C550.11 364.04 548.73 361.32 547.19 358.62C546.95 358.2 546.69 357.77 546.44 357.35C548.01 356.96 548.9 356.73 548.9 356.73C548.9 356.73 529.17 310.73 541.59 287.3C541.59 287.3 548.59 280.3 549.59 272.61C550.83 262.44 552.18 252.28 554.4 242.28L554.79 240.52C554.79 240.52 554.85 240.18 554.95 239.57C555.23 239.39 555.5 239.2 555.77 239C576.83 223.62 594.99 159.4 594.99 159.4L600.84 148.4L603.62 142.52L597.92 192.25L642.5 203.25L671 201.06L670.92 194.93L692.64 193.24L718.91 182.21ZM436.31 37.21L428.39 36.05C427 28.9 426.06 24.21 426.06 24.21C427.72 22.1579 429.189 19.9588 430.45 17.64C434.28 23.5 435.75 31.5 436.31 37.17V37.21ZM406.73 21.86C407.28 23.74 407.78 24.95 407.78 24.95L408.78 33.2L406.08 32.81C405.926 29.1338 406.147 25.4515 406.74 21.82L406.73 21.86ZM656.53 79.47L645.81 80.85C647.32 76.41 649.19 69.13 648.1 62.54C649.149 61.5793 649.96 60.3884 650.47 59.0609C650.98 57.7334 651.175 56.3057 651.04 54.89C657.41 62.5 656.81 75.94 656.53 79.44V79.47ZM638.73 68.06C641.925 66.9918 644.888 65.3255 647.46 63.15C648.38 69.62 646.46 76.73 645 80.95L635 82.23L632.24 81.7L638.73 68.06Z" fill="url(#paint0_linear)"/>
      </g>
      <path id="Vector_2" d="M717 184.1L690.91 194.99L660.6 89.3L667.71 80.86L680.74 78.84L717 184.1Z" fill="#6C63FF"/>
      <path id="Vector_3" opacity="0.2" d="M717 184.1L690.91 194.99L660.6 89.3L667.71 80.86L680.74 78.84L717 184.1Z" fill="white"/>
      <path id="Vector_4" d="M667.71 80.86L622.43 86.67L645.64 198.51L690.91 194.99L667.71 80.86Z" fill="#6C63FF"/>
      <path id="Vector_5" opacity="0.07" d="M667.71 80.86L622.43 86.67L645.64 198.51L690.91 194.99L667.71 80.86Z" fill="white"/>
      <path id="Vector_6" d="M655.94 83.38L655.22 83.29C655.22 83.02 658.22 56.62 641.65 53.29L641.79 52.58C659.07 56.05 656 83.11 655.94 83.38Z" fill="#535461"/>
      <path id="Vector_7" d="M538.32 160.44H488.44V233.45H538.32V160.44Z" fill="#774E55"/>
      <path id="Vector_8" opacity="0.2" d="M538.32 160.44H488.44V233.45H538.32V160.44Z" fill="black"/>
      <path id="Vector_9" d="M669.51 202.72L641.32 204.89L645.66 95.02L655.05 89.24L668.06 91.41L669.51 202.72Z" fill="#6C63FF"/>
      <path id="Vector_10" opacity="0.2" d="M669.51 202.72L641.32 204.89L645.66 95.02L655.05 89.24L668.06 91.41L669.51 202.72Z" fill="black"/>
      <path id="Vector_11" d="M655.05 89.24L610.24 80.56L597.23 194.05L641.32 204.89L655.05 89.24Z" fill="#6C63FF"/>
      <path id="Vector_12" d="M391.22 35.03H384.71L371.7 148.51L400.61 147.07L391.22 35.03Z" fill="#6C63FF"/>
      <path id="Vector_13" opacity="0.2" d="M391.22 35.03H384.71L371.7 148.51L400.61 147.07L391.22 35.03Z" fill="black"/>
      <path id="Vector_14" d="M389.05 33.58L381.1 147.79L450.49 155.02L458.44 43.7L389.05 33.58Z" fill="#6C63FF"/>
      <path id="Vector_15" d="M472.9 626.31C472.9 626.31 464.23 625.59 462.78 650.89C462.78 650.89 464.23 664.62 460.61 671.13C456.99 677.64 459.16 696.43 470.01 698.6C476.952 699.879 484.068 699.879 491.01 698.6C491.01 698.6 496.07 698.6 492.46 680.53L485.23 627.76L472.9 626.31Z" fill="#5C3D53"/>
      <path id="Vector_16" opacity="0.05" d="M472.9 626.31C472.9 626.31 464.23 625.59 462.78 650.89C462.78 650.89 464.23 664.62 460.61 671.13C456.99 677.64 459.16 696.43 470.01 698.6C476.952 699.879 484.068 699.879 491.01 698.6C491.01 698.6 496.07 698.6 492.46 680.53L485.23 627.76L472.9 626.31Z" fill="black"/>
      <path id="Vector_17" d="M518.35 208.9C517.73 219.66 519.88 225.9 519.88 225.9L501.09 230.96C501.09 230.96 470.01 235.3 482.3 222.96C486.55 218.71 488.64 211.42 489.55 203.72C490.119 198.46 490.297 193.166 490.08 187.88C489.913 182.928 489.486 177.987 488.8 173.08C488.8 173.08 534.34 157.18 524.22 183.2C522.376 187.906 520.922 192.756 519.87 197.7C519.088 201.391 518.58 205.134 518.35 208.9Z" fill="#F8BDC5"/>
      <path id="Vector_18" opacity="0.1" d="M524.22 183.21C522.376 187.916 520.922 192.766 519.87 197.71C514.48 198.855 508.882 198.55 503.648 196.825C498.415 195.1 493.733 192.016 490.08 187.89C489.913 182.938 489.486 177.997 488.8 173.09C488.8 173.09 534.34 157.19 524.22 183.21Z" fill="black"/>
      <path id="Vector_19" d="M513.38 196.94C530.545 196.94 544.46 183.025 544.46 165.86C544.46 148.695 530.545 134.78 513.38 134.78C496.215 134.78 482.3 148.695 482.3 165.86C482.3 183.025 496.215 196.94 513.38 196.94Z" fill="#F8BDC5"/>
      <g id="Girl-body">
      <g id="left-hand">
      <path id="Vector_20" d="M458.44 181.04V190.44L442.54 231.64L438.2 227.3C437.961 227.043 437.74 226.769 437.54 226.48C427.04 211.56 419.4 112.37 419.4 112.37L409.29 28.5C409.29 28.5 398.45 2.50001 422.29 3.92001C446.13 5.34001 427.35 27.77 427.35 27.77C427.35 27.77 443.25 107.28 441.08 110.17C438.91 113.06 441.08 121.74 441.08 121.74C441.08 121.74 447.59 138.37 446.86 150.65C446.13 162.93 458.44 181.04 458.44 181.04Z" fill="#F8BDC5"/>
      </g>
      <g id="right-hand">
      <path id="Vector_21" d="M637.7 71.17L600.11 150.68L594.33 161.5C594.33 161.5 576.33 225.02 555.54 240.23C554.345 241.122 553.05 241.871 551.68 242.46L547.34 207.76L551.34 197.68L551.64 196.91C556.278 192.386 559.964 186.98 562.48 181.01C566.82 170.89 579.11 150.65 579.11 150.65C579.11 150.65 581.28 144.87 581.28 140.53C581.28 136.19 622.48 64.63 622.48 64.63C622.48 64.63 626.09 32.1 643.48 48C660.87 63.9 637.7 71.17 637.7 71.17Z" fill="#F8BDC5"/>
      </g>
      <g id="left-leg">
      <path id="Vector_22" d="M492.41 647.99C492.41 647.99 467.83 658.11 470.72 648.71C472.48 643.01 471.83 632.24 471.05 624.71C470.55 619.8 469.99 616.22 469.99 616.22L490.99 618.39C490.256 620.222 489.847 622.168 489.78 624.14C489.09 633.73 492.41 647.99 492.41 647.99Z" fill="#F8BDC5"/>
      </g>
      <g id="right-leg">
      <path id="Vector_23" d="M530.63 619.87C526.84 633.03 527.83 655.95 527.83 655.95C527.83 655.95 505.42 658.84 507.59 653.06C509.1 649.06 511.31 629.24 512.51 617.59C513.04 612.5 513.37 608.97 513.37 608.97L533.61 613.31C532.232 615.301 531.223 617.523 530.63 619.87V619.87Z" fill="#F8BDC5"/>
      </g>
      <path id="Vector_24" opacity="0.1" d="M470 616.19L491 618.36C490.266 620.192 489.857 622.138 489.79 624.11C486.919 625.613 483.745 626.445 480.505 626.543C477.266 626.642 474.047 626.005 471.09 624.68C470.56 619.76 470 616.19 470 616.19Z" fill="black"/>
      <path id="Vector_25" opacity="0.1" d="M533.62 613.3C532.234 615.292 531.218 617.518 530.62 619.87C523.79 620.97 516.62 619.04 512.51 617.59C513.04 612.5 513.37 608.97 513.37 608.97L533.62 613.3Z" fill="black"/>
      <g id="legs">
      <path id="Vector_26" d="M556.75 444.87L552.49 474.73C550.762 486.064 548.133 497.243 544.63 508.16C541.57 518.01 543.74 530.16 543.74 530.16C543.74 530.16 546.63 576.42 541.57 587.99C536.51 599.56 537.23 616.18 537.23 616.18C525.66 622.69 509.04 614.73 509.04 614.73L507.59 538.11C507.59 538.11 503.98 517.87 505.42 499.11C506.86 480.35 503.25 442.01 503.25 442.01C495.25 444.18 496.02 549.71 496.02 549.71V618.38C478.67 633.56 463.49 618.38 463.49 618.38C457.71 601.03 459.88 548.26 459.88 548.26L457.71 517.18C457.71 517.18 449.71 478.87 444.71 425.38C443.164 410.351 442.956 395.215 444.09 380.15C444.23 378.51 444.383 376.933 444.55 375.42C445.243 368.579 446.494 361.807 448.29 355.17C448.863 352.982 449.599 350.839 450.49 348.76L528.16 352.37L532.74 352.58L543.74 353.09C544.94 354.9 546.07 356.74 547.12 358.58C548.64 361.25 550.01 363.94 551.23 366.58C551.93 368.12 552.59 369.67 553.23 371.21C568 408.5 556.75 444.87 556.75 444.87Z" fill="#5E52AD"/>
      </g>
      <path id="Vector_27" opacity="0.1" d="M471.45 355.97C471.45 355.97 468.05 389.97 444.08 380.13C444.22 378.49 444.373 376.913 444.54 375.4C450.18 376.93 465.79 379.04 466.38 355.96L471.45 355.97Z" fill="black"/>
      <path id="Vector_28" opacity="0.1" d="M553.19 371.22C536.59 377.15 530.33 361.36 528.19 352.35L532.77 352.56C535.26 366.73 545.2 367.56 551.25 366.56C551.93 368.14 552.58 369.69 553.19 371.22Z" fill="black"/>
      <g id="left-shoe">
      <path id="Vector_29" d="M479.34 644.15C475.65 643.57 470.01 641.54 471.78 634.45C471.78 634.45 464.95 632.09 465.67 660.28C465.67 660.28 464.95 674.01 463.5 676.91C462.05 679.81 463.5 697.15 478.68 695.7C478.68 695.7 489.52 699.31 492.41 693.53C492.41 693.53 490.24 660.28 493.86 654.53C497.48 648.78 492.41 642.96 492.41 642.96C492.41 642.96 487.29 645.8 483.61 644.96C482.21 644.57 480.77 644.38 479.34 644.15Z" fill="#5C3D53"/>
      </g>
      <path id="Vector_30" d="M497.47 691.36C497.47 691.36 490.24 703.65 506.87 705.09C523.5 706.53 530.72 697.86 530.72 697.86C530.72 697.86 532.89 694.25 530.72 687.74C528.55 681.23 531.44 669.67 531.44 669.67C531.44 669.67 533.61 655.94 528.55 658.83C523.49 661.72 497.47 691.36 497.47 691.36Z" fill="#5C3D53"/>
      <path id="Vector_31" opacity="0.05" d="M497.47 691.36C497.47 691.36 490.24 703.65 506.87 705.09C523.5 706.53 530.72 697.86 530.72 697.86C530.72 697.86 532.89 694.25 530.72 687.74C528.55 681.23 531.44 669.67 531.44 669.67C531.44 669.67 533.61 655.94 528.55 658.83C523.49 661.72 497.47 691.36 497.47 691.36Z" fill="black"/>
      <g id="right-shoe">
      <path id="Vector_32" d="M516.27 647.27C516.27 647.27 507.6 643.66 505.43 650.88C503.26 658.1 504.71 676.18 500.37 681.24C496.03 686.3 490.25 700.03 507.6 699.31C524.95 698.59 528.6 692.8 528.6 692.8C528.6 692.8 527.88 674.73 530.05 669.67C532.22 664.61 530.05 656.67 530.05 656.67C530.05 656.67 530.72 646.5 516.27 647.27Z" fill="#5C3D53"/>
      </g>
      <path id="Vector_33" opacity="0.2" d="M407.84 45.15C408.641 45.15 409.29 44.5008 409.29 43.7C409.29 42.8992 408.641 42.25 407.84 42.25C407.039 42.25 406.39 42.8992 406.39 43.7C406.39 44.5008 407.039 45.15 407.84 45.15Z" fill="black"/>
      <path id="Vector_34" opacity="0.2" d="M438.2 48.76C439.001 48.76 439.65 48.1108 439.65 47.31C439.65 46.5092 439.001 45.86 438.2 45.86C437.399 45.86 436.75 46.5092 436.75 47.31C436.75 48.1108 437.399 48.76 438.2 48.76Z" fill="black"/>
      <path id="Vector_35" d="M438.56 47.32H437.84C437.84 47.01 438.35 16.52 420.84 13.71C417.39 13.16 414.57 13.94 412.46 16.03C405.23 23.2 408.22 43.45 408.25 43.65L407.54 43.76C407.41 42.91 404.47 22.94 411.96 15.52C414.24 13.25 417.28 12.4 420.96 12.99C439.08 15.89 438.57 47.01 438.56 47.32Z" fill="#535461"/>
      <path id="Vector_36" d="M643.09 87.95L642.44 87.64C642.55 87.4 653.69 63.27 638.97 54.86L639.33 54.23C654.62 62.97 643.21 87.7 643.09 87.95Z" fill="#535461"/>
      <path id="Vector_37" opacity="0.1" d="M519.88 225.86L501.09 230.92C501.09 230.92 470.01 235.26 482.3 222.92C486.55 218.67 488.64 211.38 489.55 203.68C494.46 211.38 500.37 209.19 500.37 209.19L518.29 208.84H518.36C517.73 219.66 519.88 225.86 519.88 225.86Z" fill="black"/>
      <path id="Vector_38" opacity="0.1" d="M555.55 240.25C554.355 241.142 553.06 241.891 551.69 242.48L547.35 207.78L551.35 197.7L552.35 196.93C561.38 199.5 556.72 232.74 555.55 240.25Z" fill="black"/>
      <path id="Vector_39" opacity="0.1" d="M458.44 181.04V190.44L442.54 231.64L438.2 227.3C437.961 227.043 437.74 226.769 437.54 226.48C439.42 205 458.44 181.04 458.44 181.04Z" fill="black"/>
      <path id="Vector_40" opacity="0.1" d="M547.11 358.56C537 361.09 484.22 373.49 468.56 361.75C462.38 357.12 455.1 355.42 448.29 355.15C448.863 352.962 449.599 350.819 450.49 348.74L528.16 352.35L532.74 352.56L543.74 353.07C544.94 354.89 546.06 356.72 547.11 358.56Z" fill="black"/>
      <path id="Vector_41" d="M411.1 10.09C411.1 10.09 421.94 28.16 429.17 10.09Z" fill="#F8BDC5"/>
      <path id="Vector_42" d="M634.09 47.31C634.09 47.31 629.75 69 647.09 58.88Z" fill="#F8BDC5"/>
      <g id="Group" opacity="0.1">
      <path id="Vector_43" opacity="0.1" d="M499.89 449.14C499.54 444.74 499.28 441.99 499.28 441.99C491.28 444.16 492.05 549.69 492.05 549.69V618.36C486.97 622.8 482.05 624.64 477.7 625.03C482.92 625.49 489.14 624.03 495.7 618.36V549.69C495.7 549.69 495.14 473.22 499.89 449.14Z" fill="black"/>
      <path id="Vector_44" opacity="0.1" d="M552.83 371.22C552.22 369.68 551.57 368.13 550.83 366.59C549.61 363.91 548.24 361.22 546.72 358.59C545.72 356.75 544.54 354.92 543.34 353.1L532.34 352.59L527.76 352.38L450.09 348.77L450.02 348.93L524.15 352.38L528.73 352.59L539.73 353.1C540.93 354.91 542.06 356.75 543.11 358.59C544.63 361.26 546 363.95 547.22 366.59C547.92 368.13 548.58 369.68 549.22 371.22C564 408.52 552.78 444.87 552.78 444.87L548.52 474.73C546.792 486.064 544.163 497.243 540.66 508.16C537.6 518.01 539.77 530.16 539.77 530.16C539.77 530.16 542.66 576.42 537.6 587.99C532.54 599.56 533.26 616.18 533.26 616.18C530.468 617.687 527.37 618.542 524.2 618.68C528.575 619.074 532.972 618.206 536.87 616.18C536.87 616.18 536.15 599.55 541.21 587.99C546.27 576.43 543.38 530.16 543.38 530.16C543.38 530.16 541.21 518 544.27 508.16C547.773 497.243 550.402 486.064 552.13 474.73L556.39 444.87C556.39 444.87 567.61 408.5 552.83 371.22Z" fill="black"/>
      </g>
      <path id="Vector_45" d="M518.29 210.32C528.29 215.03 551.69 196.94 551.69 196.94C561.81 199.83 554.58 241.76 554.58 241.76L554.19 243.5C551.99 253.39 550.66 263.44 549.43 273.5C548.5 281.09 541.57 288.03 541.57 288.03C529.28 311.16 548.8 356.7 548.8 356.7C548.8 356.7 485.91 373.33 468.57 360.31C451.23 347.29 425.2 357.42 425.2 357.42C437.49 346.58 438.2 279.35 438.2 279.35V227.35C439.65 205.66 459.2 181.09 459.2 181.09C467.2 203.5 489.43 204.98 489.43 204.98C494.36 212.98 500.43 210.73 500.43 210.73L518.29 210.32Z" fill="black"/>
      <path id="Vector_46" opacity="0.1" d="M505.29 122.06C502.809 121.521 500.241 121.521 497.76 122.06C489.9 124.23 487.43 134.14 481.36 139.58C479.18 141.58 476.49 142.92 474.51 145.09C470.99 148.95 470.28 154.67 471.03 159.84C471.78 165.01 473.78 169.91 475.03 174.98C476.264 180.055 476.733 185.286 476.42 190.5C476.448 192.231 475.983 193.933 475.08 195.41C473.63 197.41 470.96 198.04 469.08 199.64C463.34 204.58 468.08 214.83 463.87 221.14C462.06 223.87 458.67 225.67 457.98 228.87C457.49 231.14 458.53 233.43 459.55 235.52C462.23 241.02 465.01 246.67 469.55 250.77C474.09 254.87 479.7 256.93 485.28 259.02C486.97 259.65 489.09 260.2 490.38 258.95C491.97 257.39 490.77 254.75 489.67 252.82C487.93 249.82 486.57 246.2 487.59 242.82C488.61 239.44 491.88 237.2 494.08 234.38C499.75 227.08 497.89 216.6 495.08 207.8C493.89 204.09 492.55 200.14 493.56 196.37C493.99 194.75 494.84 193.28 495.38 191.69C497.78 184.61 493.75 176.84 494.93 169.46C495.544 166.578 496.553 163.795 497.93 161.19L504.28 147.54C504.919 145.897 505.874 144.396 507.09 143.12C509.063 141.533 511.565 140.754 514.09 140.94C516.664 140.998 519.2 141.578 521.543 142.645C523.886 143.713 525.987 145.245 527.72 147.15C534.52 154.71 534.09 166.15 533.27 176.23L532.68 183.51C532.25 188.75 531.68 194.34 528.38 198.42C525.81 201.58 521.66 203.73 520.6 207.67C519.68 211.06 521.41 214.74 520.5 218.13C519.14 223.2 512.88 225.03 509.57 229.13C508.178 230.912 507.355 233.072 507.209 235.329C507.062 237.585 507.6 239.833 508.75 241.78C510.01 243.78 512.02 245.78 511.75 248.13C511.52 250.02 509.82 251.55 509.83 253.45C509.911 254.3 510.248 255.106 510.796 255.761C511.344 256.416 512.078 256.89 512.9 257.12C514.555 257.549 516.281 257.63 517.97 257.36L535.9 255.74C537.023 255.736 538.124 255.432 539.09 254.86C540.34 253.96 540.75 252.3 540.92 250.77C541.64 244.39 539.92 237.42 543.11 231.84C544.11 230.05 545.58 228.56 546.69 226.84C552.81 217.24 546.64 204.22 549.97 193.33C551.55 188.16 555.23 183.72 556.21 178.41C557.51 171.33 553.82 164.41 552.39 157.41C550.92 150.18 551.71 142.22 547.85 135.93C544.9 131.13 539.62 128.14 534.16 126.77C529.16 125.51 524.16 125.96 519.16 125.42C514.38 124.87 509.94 122.81 505.29 122.06Z" fill="black"/>
      <path id="Vector_47" d="M505.29 120.61C502.809 120.071 500.241 120.071 497.76 120.61C489.9 122.78 487.43 132.69 481.36 138.13C479.18 140.13 476.49 141.47 474.51 143.64C470.99 147.5 470.28 153.22 471.03 158.39C471.78 163.56 473.78 168.46 475.03 173.53C476.264 178.605 476.733 183.836 476.42 189.05C476.448 190.781 475.983 192.483 475.08 193.96C473.63 195.96 470.96 196.59 469.08 198.19C463.34 203.13 468.08 213.38 463.87 219.69C462.06 222.42 458.67 224.22 457.98 227.42C457.49 229.69 458.53 231.98 459.55 234.07C462.23 239.57 465.01 245.22 469.55 249.32C474.09 253.42 479.7 255.48 485.28 257.57C486.97 258.2 489.09 258.75 490.38 257.5C491.97 255.94 490.77 253.3 489.67 251.37C487.93 248.37 486.57 244.75 487.59 241.37C488.61 237.99 491.88 235.75 494.08 232.93C499.75 225.63 497.89 215.15 495.08 206.35C493.89 202.64 492.55 198.69 493.56 194.92C493.99 193.3 494.84 191.83 495.38 190.24C497.78 183.16 493.75 175.39 494.93 168.01C495.544 165.128 496.553 162.345 497.93 159.74L504.28 146.09C504.919 144.447 505.874 142.946 507.09 141.67C509.063 140.083 511.565 139.304 514.09 139.49C516.664 139.548 519.2 140.128 521.543 141.195C523.886 142.263 525.987 143.795 527.72 145.7C534.52 153.26 534.09 164.7 533.27 174.78L532.68 182.06C532.25 187.3 531.68 192.89 528.38 196.97C525.81 200.13 521.66 202.28 520.6 206.22C519.68 209.61 521.41 213.29 520.5 216.68C519.14 221.75 512.88 223.58 509.57 227.68C508.178 229.462 507.355 231.622 507.209 233.879C507.062 236.135 507.6 238.383 508.75 240.33C510.01 242.33 512.02 244.33 511.75 246.68C511.52 248.57 509.82 250.1 509.83 252C509.911 252.85 510.248 253.656 510.796 254.311C511.344 254.966 512.078 255.44 512.9 255.67C514.555 256.099 516.281 256.18 517.97 255.91L535.9 254.29C537.023 254.286 538.124 253.982 539.09 253.41C540.34 252.51 540.75 250.85 540.92 249.32C541.64 242.94 539.92 235.97 543.11 230.39C544.11 228.6 545.58 227.11 546.69 225.39C552.81 215.79 546.64 202.77 549.97 191.88C551.55 186.71 555.23 182.27 556.21 176.96C557.51 169.88 553.82 162.96 552.39 155.96C550.92 148.73 551.71 140.77 547.85 134.48C544.9 129.68 539.62 126.69 534.16 125.32C529.16 124.06 524.16 124.51 519.16 123.97C514.38 123.43 509.94 121.37 505.29 120.61Z" fill="#774E55"/>
      <path id="Vector_48" opacity="0.1" d="M466.75 286.21C466.75 286.21 481.21 290.55 502.17 281.15H513C513 281.15 513.72 291.27 541.91 286.93" fill="black"/>
      <path id="Vector_49" opacity="0.1" d="M537 739C833.577 739 1074 717.062 1074 690C1074 662.938 833.577 641 537 641C240.423 641 0 662.938 0 690C0 717.062 240.423 739 537 739Z" fill="#6C63FF"/>
      </g>
    </g>
      <defs>
      <linearGradient id="paint0_linear" x1="544.35" y1="709.14" x2="544.35" y2="2.42064e-05" gradientUnits="userSpaceOnUse">
      <stop stop-color="#808080" stop-opacity="0.25"/>
      <stop offset="0.54" stop-color="#808080" stop-opacity="0.12"/>
      <stop offset="1" stop-color="#808080" stop-opacity="0.1"/>
      </linearGradient>
      <clipPath id="clip0">
      <rect width="1074" height="739" fill="white"/>
      </clipPath>
      </defs>
      </svg>
    </div>


    <section>
      <h3>About</h3>
      <p><em>
        A cost-effective, sustainability oriented, rising stores of second hand
        products.​ A store that sells used things such as clothes, books, and
        furniture, typically in order to raise money for a charity​ or for
        getting some amount of money for themselves.
      </em>
      </p>
    </section>
    <section>
      <h3>Developers</h3>
         
      <div class="container">
      <div class="row">
      <div class="col-md-4">
      <div class="card profile-card-1">
        <img src="https://images.pexels.com/photos/946351/pexels-photo-946351.jpeg?w=500&h=650&auto=compress&cs=tinysrgb" alt="profile-sample1" class="background"/>
        <img src="static/images/rimpi.jpg" alt="profile-image" class="profile"/>
            <div class="card-content">
            <h2>Rimpi Rani Baruah</h3>
            <div class="icon-block"><i class="fa fa-linkedin"></i></a><a href="https://www.linkedin.com/in/rimpi-rani-baruah-8028b21a3"></div>
            </div>
        </div>
        </div>
        <div class="col-md-4">
          <div class="card profile-card-1">
            <img src="https://images.pexels.com/photos/946351/pexels-photo-946351.jpeg?w=500&h=650&auto=compress&cs=tinysrgb" alt="profile-sample1" class="background"/>
            <img src="static/images/srv.jpeg" alt="profile-image" class="profile"/>
                <div class="card-content">
                <h2>Sourabh Shah</h3>
                <div class="icon-block"></i><i class="fa fa-linkedin"></i></a><a href="https://www.linkedin.com/in/sourabh-shah-1b6225192"></div>
                </div>
              
            </div>
      </div>
      </div>
    </div>
</div>

    </section>
  </body>
</html>
