<%- include ("partials/header") %>


    
        <div class="SearchBox">
            <table class="SearchBar">
                <tr>
                    <td>
                        <input type="text" placeholder="Find your Location" class="Search" name="SearchB">
                    </td>
                    <td>
                        <button type="submit" class="SeachSubmit"><span class="material-icons">search</span></button>
                    </td>
                </tr>
            </table>
        </div>
        
   
    
    </div>
    <!-- Upcoming Drop Posts -->
    
    
    <!-- Posts of upcoming drops say in coming 2 days to be rendered in the home page with a live countdown of the droptime -->
    <!-- Cards to be used in myStore as individual posts instead-->
    
    <div class="store">
    <h2 class="titlle">Store-1</h2>
    <div class="Facilitycontainer">
        <div class="Cardcontainer">
            <div class="Fcard">
                <div class="Fcontent">
                    <div class="iconborder">
                        <img class="iconImage" src="/static/image/watch.png" alt="">
                    </div>
                    <br>
                    <h3>Watch</h3>
                </div>
                <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis, voluptatibu
                    eiugid satrebjl5s 5ujsho 5sy ab?</p>
            </div>
            <div class="Fcard">
                <div class="Fcontent">
                    <div class="iconborder">
                        <img class="iconImage" src="/static/image/shoe1.jpg" alt="">
                    </div>
                    <br>
                    <h3>Shoe</h3>
                </div>
                <p class="description">Cheap Watch at great condition</p>
            </div>
            <div class="Fcard">
                <div class="Fcontent">
                    <div class="iconborder">
                        <img class="iconImage" src="/static/image/pant1.jpg" alt="">
                    </div>
                    <br>
                    <h3>Shoes</h3>
                </div>
                <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis, voluptatibu
                    eiugid satrebjl5s 5ujsho 5sy ab?</p>
            </div>
        </div>
    </div>
</div>

    <% storex.forEach(store => {%>
        <div class="store">
            <h2  class="titlle"><%=store.storeName%></h2>
            <h3>Dropping in :</h3>
            <div id="countdown"></div>
            <div id="demo"></div>
            <div class="Facilitycontainer">
                <div class="Cardcontainer">
                    <div class="Fcard">
                        <div class="Fcontent">
                            <div class="iconborder">
                                <span class="fas fa-car"></span>
                            </div>
                            <br>
                            <h3>Item1</h3>
                        </div>
                        <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis, voluptatibu
                            eiugid satrebjl5s 5ujsho 5sy ab?</p>
                    </div>
                    <div class="Fcard">
                        <div class="Fcontent">
                            <div class="iconborder">
                                <span class="fas fa-utensils"></span>
                            </div>
                            <br>
                            <h3>Item2</h3>
                        </div>
                        <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis, voluptatibu
                            eiugid satrebjl5s 5ujsho 5sy ab?</p>
                    </div>
                    <div class="Fcard">
                        <div class="Fcontent">
                            <div class="iconborder">
                                <span class="fas fa-car"></span>
                            </div>
                            <br>
                            <h3>Item3</h3>
                        </div>
                        <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis, voluptatibu
                            eiugid satrebjl5s 5ujsho 5sy ab?</p>
                    </div>
                </div>
            </div>
        </div>                
    <%}); %> 

    <script>
        // Set the date we're counting down to
        var date=document.getElementById("dropTime").value;
        document.getElementById("demo").innerHTML=date;
        var countDownDate = new Date("June 5, 2021 15:37:25").getTime();

        // Update the count down every 1 second
        var x = setInterval(function() {

        // Get today's date and time
        var now = new Date().getTime();
    
        // Find the distance between now and the count down date
        var distance = countDownDate - now;
    
        // Time calculations for days, hours, minutes and seconds
        var days = Math.floor(distance / (1000 * 60 * 60 * 24));
        var hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
        var minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
        var seconds = Math.floor((distance % (1000 * 60)) / 1000);
    
        // Output the result in an element with id="demo"
        document.getElementById("countdown").innerHTML = days + " days " + hours + " hours "
        + minutes + " minutes " + seconds + " seconds ";
    
        // If the count down is over, write some text 
        if (distance < 0) {
        clearInterval(x);
        document.getElementById("demo").innerHTML = "EXPIRED";
  }
}, 1000);
    </script>

    <%- include ("partials/footer") %>