<%- include ("partials/header") %>


    <div class="Home">
        <header>
            <p class="navLogo"><a href="#" class="navitem">Thrift Goodt</a></p>
            <nav>
                <ul class="nav_links">
                    <li><a href="/myStore" class="navitem">My Store</a></li>
                    <li><a href="/storeRegister" class="navitem">New Store</a></li>
                    <li><a href="/newPost/:storeName" class="navitem">New Post</a></li>
                    <li><a href="#" class="navitem">LogIn</a></li>
                    <li><a href="#" class="navitem">SignUp</a></li>
                    
                </ul>
            </nav>
        </header>
        <div class="SearchBox">
            <table class="SearchBar">
                <tr>
                    <td>
                        <input type="text" placeholder="Find your Location" class="Search" name="SearchB">
                    </td>
                    <td>
                        <button type="submit" class="SeachSubmit"><span class="material-icons">search</span></button>
                    </td>
                </tr>
            </table>
        </div>

    
    </div>
   
    <!-- Upcoming Drop Posts -->
    <h2>Upcoming Drops!</h2>
    
    <!-- Posts of upcoming drops say in coming 2 days to be rendered in the home page with a live countdown of the droptime -->
    <!-- Cards to be used in myStore as individual posts instead-->

    <div class="Facilitycontainer">
        <div class="Cardcontainer">
            <div class="Fcard">
                <div class="Fcontent">
                    <div class="iconborder">
                        <span class="far fa-user"></span>
                    </div>
                    <br>
                    <h3>TRAVEL GUIDES</h3>
                </div>
                <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis, voluptatibu
                    eiugid satrebjl5s 5ujsho 5sy ab?</p>
            </div>
            <div class="Fcard">
                <div class="Fcontent">
                    <div class="iconborder">
                        <span class="fas fa-utensils"></span>
                    </div>
                    <br>
                    <h3>Best Local Foods</h3>
                </div>
                <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis, voluptatibu
                    eiugid satrebjl5s 5ujsho 5sy ab?</p>
            </div>
            <div class="Fcard">
                <div class="Fcontent">
                    <div class="iconborder">
                        <span class="fas fa-car"></span>
                    </div>
                    <br>
                    <h3>Tours</h3>
                </div>
                <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Reiciendis, voluptatibu
                    eiugid satrebjl5s 5ujsho 5sy ab?</p>
            </div>
        </div>
    </div>

    <%- include ("partials/footer") %>